.credentialCount {
  font-size: 20px;
  vertical-align: middle;
}

.course-name {
  margin-top: 0;
}

.completion {
  font-size: 14px;
  vertical-align: middle;
}

.issueDate {
  font-weight: 500;
  span {
    font-weight: 300;
  }
}